<!DOCTYPE html>
{% extends 'mind/nav_foot.html' %}
{% load static i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Privacy" %}</title>
</head>

<body>

    {% block content %}  

    <div class="container">
        <h1 class="has-text-black title is-2">{% trans "Disclaimer" %}</h1>
        <hr class="has-background-black">
        <p class="title is-3">Objective:
        <h2 class='subtitle is-4'>{% trans "Objective: To manage the inclusion of links to external websites on Your Mind’s website and communications." %}</h2>
        </p>
        <p class="title is-3">Scope
        <h2 class='subtitle is-4 mb-6'>{% trans "This policy applies to all digital content managed by Your Mind.." %}</h2>
        </p>
        <p class="title is-2">{% trans "Policy:" %}</p>
        <p class="subtitle is-4">
            {% trans "- External Links: Links to external websites are provided for convenience and informational purposes only. Your Mind does not endorse or control the content of these external sites.." %}
        </p>
        <p class="subtitle is-4">
            {% trans "- Accuracy of Links: Your Mind is not responsible for the accuracy or reliability of the linked content." %}
        </p>
        <p class="subtitle is-4 mb-5">
            {% trans "- Changes to Links: External links may change without notice. Your Mind is not liable for any changes that affect the usability or content of the linked sites." %}
        </p>
    </div>

    {% endblock %}
</body>

</html>
