
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;700&display=swap');
.navv {
  background-color: #ADD8E6;
  position: sticky;
  top: 0;
  z-index: 1000; 
}





.img1 {
    margin-bottom: 200px;
    position: absolute;
}

.tx2 {
  background-color: #BEA28D;
  width: 100%;
  height: 700px;
}

.scroll-button {
  position: fixed;
  bottom: 10px; /* Distance from the bottom of the viewport */
  right: 10px; /* Distance from the right of the viewport */
  width: 50px; /* Width of the button */
  height: 50px; /* Height of the button */
  background-color: #ADD8E6;
  color: white;
  border: none;
  border-radius: 50%; /* Make the button circular */
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1{
  color: blue;
}
.sc1 {
    margin-top: 250px;
    background-color: #F5F5F5;
}

.sc2 {
    margin-top: 50px;
    background-color: rgb(250, 250, 250);
}

.sp1 {
    color: rgb(15, 135, 234);
}

.cardbg{
    background-color: aquamarine;
}

.sp {
    color: white;
}

.tm1 {
    box-shadow: 8px 10px 5px rgb(223, 168, 168);
}

.contact-form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 65%; /* Set input width to 65% */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  .form-group textarea {
    width: 100%; /* Textarea spans full width */
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #0D2B54;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #D6D1E7;
  }
  

.tx1{
  font-family: 'Times New Roman', Times, serif;
}
.hd{
  background-color: #F5F5F5;
}

.fe{
  font-family: cursive;
}

.cd1{
  margin-top: 250px;
}
.fe2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
}


.column1 {
  background-color: #D9DBE7;
  padding: 150px;
}

.column2 {
  background-color: #D49F92;
  padding: 150px;
}

.column3{
  background-color: #769899;
  padding: 150px;
}

.bg3 {
  height: 1090px;
}

.text1{
  position: absolute;
}

.text2{
  padding: 160px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.btn2 {
  margin-left: 740px;
  margin-top: 260px;
}

.team{
  background-color: #F9E8CE;
  border-radius: 30px 30px 30px 30px
}


.container1{
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
}

.main-feature {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ddd;
  overflow: hidden;
}

.feature-img {
  width: 100%;
  height: 640px;
  background-size: cover;
  background-position: center;
}

.feature-info {
  padding: 20px;
}

.side-features {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-feature {
  background-color: white;
  border: 1px solid #ddd;
  overflow: hidden;
}

.side-feature .feature-img {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.side-feature .feature-info {
  padding: 15px;
}


.contack{
  background-color: #D6D1E7;
}

.ct1 {
  padding: 100px;
}

.articl {
  background-color: #f9f9f9;
  margin-top: 300px;
}

.artickletext{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

.artickleh1{
  font-family: cursive;
}


.line {
  background-color: #ECEADE;
  width: 65%;
}

.font1 {
  font-family: europe;
}

.font2 {
  font-family: minion-pro, serif;
}

.font2 p:hover{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
}

.articlepading{
  padding: 150px;
}

.font3{
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  width: 450px;
}


.hv {
  position: relative;
}

.hv::after {
  content: '';
  position: absolute;
  width: 65%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(223, 166, 80, 0.5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hv:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}


.hv2 {
  position: relative;
}

.hv2::after {
  content: '';
  position: absolute;
  width: 33%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(223, 166, 80, 0.5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hv2:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}




/* Slideshow container */
.slideshow-container {
  max-width: 47%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  background-color: gray;
  color: white;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}  

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.firstl{
  color: #BEA28D;
}





.footer1 {
  background-color: #0d2b54;
  color: white;
  padding: 20px 0;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left {
  max-width: 400px;
}

.footer-left .logo {
  max-width: 150px;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin-right: 10px;
}

.footer-right {
  display: flex;
}

.footer-column {
  margin-right: 40px;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.secondl{
  color: #0D2B54;
  font-size: 45px;
}

.container5 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  background-color: #F9E8CE;
}

.text3{
  color: #0d2b54;
  font-family: cursive;
}


.newspaper {
  background: white;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.h11 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 36px;
  color: #800000; /* Burgundy color */
  margin: 10px 0;
}

.subtitle10 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.subtitle p {
  border-bottom: 1px solid #800000; /* Burgundy color */
  padding-bottom: 10px;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}

.image-caption {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #800000; /* Burgundy color */
}

.articles {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.h22 {
  font-family: 'Georgia', serif;
  font-size: 24px;
  color: #800000; /* Burgundy color */
  margin-bottom: 10px;
  border-bottom: 1px solid #800000; /* Burgundy color */
  padding-bottom: 10px;
}

.column4{
  flex-wrap: wrap;
}

.container7 {
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1200px;
  height: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.container8 {
  display: flex;
  margin-left: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1200px;
  height: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.login-box, .signup-box {
  padding: 40px;
  width: 50%;
}

.login-box {
  background-color: #F9F8F4;
  color: #BEA28D;
  font-size: 20px;
  padding: 200px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 30px;
}

.login-box .btn {
  padding: 10px 20px;
  background-color: #BEA28D;
  border: none;
  border-radius: 20px;
  color: #f5f5f5;
  cursor: pointer;
}

.signup-box1 {
  background-color: white;
  text-align: center;
}
.signup-box {
  background-color: white;
  text-align: center;
}
.signup-box h2 {
  color: #BEA28D;
  margin-bottom: 10px;
}

.signup-box .social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.signup-box .social {
  margin: 0 10px;
  font-size: 24px;
  color: #BEA28D;
  text-decoration: none;
}

.signup-box p {
  margin-bottom: 20px;
  color: #777;
}

.signup-box form {
  display: flex;
  flex-direction: column;
}

.signup-box input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-box .btn {
  padding: 10px 20px;
  background-color: #BEA28D;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.errorlist {
  color: red;
}

.error {
  color: red;
}


/* Add your styles here */
body {
  font-family: Arial, sans-serif;
}

#form-container {
  max-width: 500px;
  margin: 0 auto;
}

.step {
  display: none;
}

.step.active {
  display: block;
}


.bg10{
  background-image: url('https://www.theharmonist.eu/cdn/shop/files/fye_bg2_1000x_1fb93714-6ebf-4541-94fd-c395c9dba94e.png?v=1615322375&width=1000');
}

.form-container {
  background-color: #717171;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 500px;
  margin-top: 200px;
  max-width: 400px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input,
.form-container select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #555;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.error {
  color: red;
  font-size: 0.9em;
}


.header10 {
  text-align: center;
  padding: 20px;
}

.result-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.error {
  color: red;
  font-size: 0.9em;
}

.button10 {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.button10:hover {
  background-color: #555;
}

.result-container img {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  display: block;
}


.description {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.result-details p {
    cursor: pointer;
    margin: 5px 0;
}

.result-details p.active #socializing-sign,
.result-details p.active #creativity-sign {
    color: red;
}

.bgresult {
  background-image: url('https://www.theharmonist.eu/cdn/shop/files/harmonist-elements-page-earth-gif.gif?v=1615323006&width=714');
}


.container10 {
  max-width: 1300px;
  margin: 50px auto;
  padding: 20px;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.accordion {
  margin-top: 20px;
}

.accordion-item {
  border-top: 1px solid #ddd;
}

.accordion-button {
  width: 100%;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button:hover {
  background: #f4f4f4;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  padding: 0 15px;
  background: #f9f9f9;
}

.accordion-content p {
  font-weight: 700; /* Bold */
  color: #222; 
}

.iconplus {
  font-size: 14px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.fa-minus {
  transform: rotate(180deg);
}


.gallaries {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.gallaries h1 {
  margin: 0;
  font-size: 2.5em;
}

.gallaries p {
  margin: 10px 0 0;
  font-size: 1.2em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item.wide {
  grid-column: span 2;
}

.gallery-item.tall {
  grid-row: span 2;
}



a {
  color: inherit; /* Keeps the color the same as the parent element */
  text-decoration: none; /* Removes the underline */
}

a:visited, a:active {
  color: inherit; /* Prevents color change after clicking */
  text-decoration: none; /* Ensures the underline stays removed */
}


.newsletter-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter-header {
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-title {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.newsletter-overview {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.newsletter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.newsletter-section img {
  width: 45%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter-content {
  width: 50%;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.newsletter-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.newsletter-content p {
  margin-bottom: 15px;
}


.creative-sections {
  padding: 50px 0;
  border-radius: 15px;
}
.section-item {
  box-sizing: border-box;
  padding: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 25%; /* Default width for side items */
  flex: 0 0 25%; /* Set flex-basis to match width */
}


.section-item img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}


.section-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.image-container {
  flex: 0 0 150px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
}

.image-container img {
  width: 90%;
  transition: transform 0.3s ease;
}

.section-item:hover .image-container img {
  transform: scale(1.1);
}

.section-content {
  flex: 1;
}

.stylized-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.stylized-text {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.section-item {
  min-width: 33.33%; /* Each item takes up one-third of the slider container */
  box-sizing: border-box;
  padding: 20px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-item img {
  max-width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.section-item:hover img {
  transform: scale(1.1);
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.slider-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.slider-dot.active {
  background-color: #333;
}


.team-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  color: #003366; /* Deep blue for a calm, professional feel */
  margin-bottom: 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.team-member {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member img {
  width: 100%;
  border-bottom: 5px solid #add8e6; /* Green accent for mental health positivity */
}

.member-info {
  padding: 20px;
}

.member-info h2 {
  font-size: 1.5em;
  color: #003366;
  margin: 0;
}

.member-info h3 {
  font-size: 1.2em;
  color: #add8e6; /* Green color for job title */
  margin: 10px 0;
}

.member-info p {
  color: #666;
  font-size: 0.9em;
  line-height: 1.6;
}
body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
 }
 
 
 .article-container {
  max-width: 900px;
  margin: 0 auto 20px auto; /* Add margin-bottom for spacing */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ensure consistent shadow */
 }
 
 
 .header-section {
  text-align: center;
  margin-bottom: 40px;

 }
 
 
 .header-section h1 {
  font-size: 48px;
  color: #800020;
  margin-bottom: 10px;
  font-family: cursive;
 }
 
 .header-section p {
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 .header-section hr {
  border: 1px solid #800020; /* Add this to ensure the line appears */
  margin-bottom: 20px; /* Adjust spacing as needed */
 }
 
 
 .columns-container {
  display: flex;
  gap: 20px;
 }
 
 .columns-container p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
 .left-column {
  width: 50%;
  padding-right: 20px;
  border-right: 3px solid maroon;
 }
 
  
 
 .left-column h2 {
  color: maroon;
  font-size: 24px;
  margin-bottom: 10px;
 }
 
 
 .left-column p, .right-column p {
  text-align: justify;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 10px;
 }
 
 
 .right-column {
  width: 50%;
  padding-left: 20px;
 }
 
 
 .image-article {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
 }
 
 
 .image-article img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
 }
 
 .content-wrapper {
  display: flex;
  gap: 20px;
 }
 
 
 .right-column h1 {
  color: maroon;
  font-size: 32px;
  margin-bottom: 10px;
 }
 
 
 .footer-text {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #800020;
 }
 
 
 .footer-text .bullet-point {
  color: maroon;
  font-weight: bold;
  margin-right: 5px;
 }
 .modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
}

.modal-content {
  max-width: 500px;
  margin: 2rem auto;
  z-index: 50;
}
