{% extends 'mind/nav_foot.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}    

    <div class="container6">
        <header class="header3">
            <h1>For a More Creative Brain Follow These 5 Steps</h1>
            <p class="author">written by James Clear | CREATIVITY, PRODUCTIVITY</p>
        </header>
        <div class="content3">
            <main>
                <p>Nearly all great ideas follow a similar creative process and this article explains how this process works. Understanding this is important because creative thinking is one of the most useful skills you can possess. Nearly every problem you face in work and in life can benefit from innovative solutions, lateral thinking, and creative ideas.</p>
                <p>Anyone can learn to be creative by using these five steps. That’s not to say being creative is easy. Uncovering your creative genius requires courage and tons of practice. However, this five-step approach should help demystify the creative process and illuminate the path to more innovative thinking.</p>
            </main>
            <aside>
                <h2>About the Author</h2>
                <p>James Clear writes about habits, decision making, and continuous improvement. He is the author of the #1 New York Times bestseller, Atomic Habits. The book has sold over 20 million copies worldwide and has been translated into more than 60 languages.</p>
                <a href="#">Click here to learn more →</a>
                <div class="social-media">
                    <div class="columns">
                        <a href=""><i class="fa-brands fa-instagram  has-text-black"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin  has-text-black"></i></a>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    {% endblock %}
</body>

</html>