<!DOCTYPE html>
{% extends "mind/nav_foot.html" %}
{% load i18n %}
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mental Health and Wellness</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Link your CSS file -->
</head>
<body>
   {% block content %}
   <div class="article-container">
       <div class="header-section">
           <h1>{{ articlein.title_article|safe }}</h1>
           <hr> 
           <p>{{ articlein.subtitle|safe }}</p>
       </div>
       {% if articlein.img1 %}
           <figure class="image-article">
               <img src="{{ articlein.img.url }}" alt="">
           </figure>
       {% else %}
           <p>No image available.</p>
       {% endif %}
       <div class="columns-container">
           <div class="left-column">
               <h2>{{ articlein.title_first_article|safe }}</h2>
               <p>{{ articlein.content1|safe }}</p>
               {% if articlein.img1 %}
                   <figure class="image-article">
                       <img src="{{ articlein.img1.url }}" alt="">
                   </figure>
               {% else %}
                   <p>No image available.</p>
               {% endif %}
               <p>{{ articlein.content2|safe }}</p>
               {% if articlein.img2 %}
                   <figure class="image-article">
                       <img src="{{ articlein.img2.url }}" alt="">
                   </figure>
               {% else %}
                   <p>No image available.</p>
               {% endif %}
               <p>{{ articlein.content3|safe }}</p>
           </div>
           <div class="right-column">
               <p>{{ articlein.content4|safe }}</p>
               <h1>{{ articlein.title_second_article|safe }}</h1>
               <p>{{ articlein.content5|safe }}</p>
               {% if articlein.img3 %}
                   <figure class="image-article">
                       <img src="{{ articlein.img3.url }}" alt="">
                   </figure>
               {% else %}
                   <p>No image available.</p>
               {% endif %}
               <p>{{ articlein.content6|safe }}</p>
           </div>
       </div>
       <div class="footer-text">
           <p><span class="bullet-point">•</span> Thank You For Reading Our Article's Sincerely, YourMind Team</p>
       </div>
   </div>
   {% endblock %}
</body>
</html>
