<!DOCTYPE html>
{% extends "mind/nav_foot.html" %}
{% load i18n %}
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% trans "Your Mind" %}{% endblock %}</title>
  <meta name="google-site-verification" content="GaocjW8mLgZmXZy5nsBerFneJuO2XnPm47qNVoEH-yA">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
</head>
<body>
  {% block content %}

  <a href="#contact"><button class="scroll-button"><i class="fa-solid fa-phone"></i></button></a>
 
  <header class="mb-6 hd" id="header-section">
    <div class="columns">
      <div class="column is-7">
        <figure class="image">
          <img src="https://www.theharmonist.eu/cdn/shop/files/wood-reflection-harmonist.gif?v=1615322009&width=1000" alt="">
        </figure>
      </div>
      <div class="column is-5 cd1">
        <div class="card">
          <div class="card-content">
            <div class="content">
               <h1 class="fe title is-1">{% trans "Find Your Element" %}</h1>
              <div class="fe2">
                <h3 class="has-text-grey"> {% trans "The five elements – wood, fire, earth, water and metal – are regarded as the building blocks of all natural phenomena. Interconnected yet opposing, they enhance and complement each other." %} </h3>
                <h3 class="has-text-grey">{% blocktrans %}Known as the Wuxing, the elements have been used to interpret everything from the cosmos to our internal bodies for millennia. They were also the inspiration behind our initial collection of ten signature scents.{% endblocktrans %}</h3>
                <h3 class="has-text-grey">{% blocktrans %}Each of us possesses all five elements within us. But we are guided by a particular element, which is informed by the date, time and location of our birth, as well as our gender.{% endblocktrans %}</h3>
                <h3 class="has-text-grey">{% blocktrans %}To find your element or to better understand the energies operating within you, click the link below.{% endblocktrans %}</h3>
              </div>
              <u><a href="{% url "find_element" %}" class="subtitle is-4 has-text-grey">{% trans "Find Your Element" %}</a></u>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="sp">
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
    <p>1</p>
  </div>

  <section class="container" id="aboutus">
    <h1 class="title is-1">{% trans "About Us" %}</h1>
    <div class="columns">
      <div class="column1">
        <h1 class="title is-1 has-text-white">{% trans "OUR MISSION" %}</h1>
        <p>{% trans "Our mission is to raise awareness and increase the availability, approachability, and accessibility of mental health services in Central  Asian countries. We cherish developing a community that is encouraging and kind, getting in touch with our inner selves, and working with organizations and mental health specialists. We seek to bridge generational and cultural gaps because we acknowledge the cultural foundations associated with experiences connected to mental health. ." %}</p>
          <br>
      </div>
      <div class="column is-6">
        <img src="https://www.google.com/url?sa=i&url=http%3A%2F%2Feyecarebd.org%2Four-vision-icon-png-4%2F&psig=AOvVaw2gqcybBniOo7TJnF-rLebD&ust=1722509871567000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLiszLqP0YcDFQAAAAAdAAAAABAE" alt="">
      </div>     
    </div>

    <div class="columns">
      <div class="column is-6">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fmission_1628441&psig=AOvVaw1Y7Jau60dL22ZMhFDjWIH_&ust=1722509969821000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCODPm-qP0YcDFQAAAAAdAAAAABAE" alt="">
      </div>     
      <div class="column2">
        <h1 class="title is-1 has-text-white">{% trans "OUR VISION" %}</h1>
        <p>{% trans "We envision a future where mental health is easily accessible and approachable for all Asian communities across the subregion. We aspire to promote understanding and provide essential resources to support emotional well-being. By integrating cultural insights and leveraging digital transformation, we aim to create a healthier, more resilient society where mental health is prioritized and valued.." %}</p>
          <br>
      </div>
    </div>

    <div class="columns">
      <div class="column3">
        <h1 class="title is-1 has-text-white">{% trans "OUR GOAL" %}</h1>
        <p>{% trans "We aim to become a leading project assisting people in maintaining and improving their mental health through presentations and workshops, raising awareness. Our goal is to establish a more resilient and healthier society where mental health is regarded as a vital aspect of life by incorporating cultural insights and utilizing digital change.." %}</p>
          <br>
      </div>
      <div class="column is-6">
      </div>     
    </div>
  </section>

  <hr>



<section class="gallaries">
        <h1>YourMind Photo Gallery</h1>
        <p>With Creative & Unique Style</p>
    </section>
    <section class="gallery">
      <div class="gallery-item tall"><img src="{% static "img/m2.jpg" %}" alt="Mental Health Image 1"></div>
      <div class="gallery-item"><img src="{% static "img/m1.jpg" %}" alt="Mental Health Image 4"></div>
      <div class="gallery-item wide"><img src="{% static "img/m3.jpg" %}" alt="Mental Health Image 3"></div>
      <div class="gallery-item"><img src="{% static "img/m4.jpg" %}" alt="Mental Health Image 4"></div>
      <div class="gallery-item tall"><img src="{% static "img/m5.jpg" %}" alt="Mental Health Image 5"></div>
      <div class="gallery-item"><img src="{% static "img/m6.jpg" %}" alt="Mental Health Image 6"></div>
      <div class="gallery-item"><img src="{% static "img/m15.jpg" %}" alt="Mental Health Image 6"></div>
      <div class="gallery-item"><img src="{% static "img/m17.jpg" %}" alt="Mental Health Image 6"></div>
      <div class="gallery-item wide"><img src="{% static "img/m7.jpg" %}" alt="Mental Health Image 3"></div>
      <div class="gallery-item"><img src="{% static "img/m9.jpg" %}" alt="Mental Health Image 9"></div>
      <div class="gallery-item"><img src="{% static "img/m10.jpg" %}" alt="Mental Health Image 10"></div>
      <div class="gallery-item wide"><img src="{% static "img/m11.jpg" %}" alt="Mental Health Image 11"></div>
      <div class="gallery-item"><img src="{% static "img/m12.jpg" %}" alt="Mental Health Image 12"></div>
      <div class="gallery-item wide"><img src="{% static "img/m14.jpg" %}" alt="Mental Health Image 3"></div>

</section>




  <hr>  
  {% comment %} 
  <section id="newsletter" class="mb-6">
    <h1 class="title is-1 ml-5 text3">{% trans "Newsletter" %}</h1>
    <div class="container1">
      <a href="{% url 'newsletter' %}">
        <div class="main-feature">
          <div class="feature-img" style="background-image: url('{% static "img/brain.webp" %}')"></div>
          <div class="feature-info">
            <h2>{% trans "Changes on Mental Health" %}</h2>
            <p>{% trans "Mental health clinics help Latinos bridge language and access barriers." %}</p>
          </div>
        </div>
      </a>
      <div class="side-features">
        <div class="side-feature">
          <div class="feature-img" style="background-image: url('{% static "img/chance.jpg" %}');"></div>
          <div class="feature-info">
            <h3>{% trans "Unlocking Opportunities with Mental Health" %}</h3>
            <p>{% trans "Exploring the pivotal role mental health plays in opening doors to personal and professional growth, fostering resilience, and building a balanced life." %}</p>
          </div>
        </div>
        <div class="side-feature">
          <div class="feature-img" style="background-image: url('{% static 'img/bg5.jpg' %}');"></div>
          <div class="feature-info">
            <h3>{% trans "Side Feature Title" %}</h3>
            <p>{% trans "Brief description of the side feature content." %}</p>
          </div>
        </div>
        <div class="side-feature">
          <div class="feature-img" style="background-image: url('{% static 'img/bg5.jpg' %}');"></div>
          <div class="feature-info">
            <h3>{% trans "Side Feature Title" %}</h3>
            <p>{% trans "Brief description of the side feature content." %}</p>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <div class="slider-container">
    <div class="slider-wrapper">
      {% for item in newsletter1 %}
        <div class="section-item">
          <a href="{% url 'newsletter_detail' item.slug %}">
            {% if item.img %}
            <img src="{{ item.img.url }}" alt="Image description">
            {% else %}
            <p>No image available.</p>
            {% endif %}
              <div class="section-content">
              <h2 class="stylized-title">{{item.title}}</h2>
              <p class="stylized-text">{{item.desciption}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="slider-controls">
      <button class="slider-control prev">❮</button>
      <button class="slider-control next">❯</button>
    </div>
  </div>
  

<section class="contack mt-5" id="contact">
    <h1 class="ml-5 secondl">{% trans "Get In Touch" %}</h1>
    <div class="columns">
      <div class="column is-8">
        <h1 class="title is-3 ml-5 has-text-white">{% trans "Send Us Message" %}</h1>
        <div class="contact-form-container">
          <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">{% trans "Name:" %}</label>
              {{form.name}}
            </div>
            <div class="form-group">
              <label for="email">{% trans "Email:" %}</label>
              {{form.email}}
            </div>
            <div class="form-group">
              <label for="message">{% trans "Message:" %}</label>
              {{form.msg}}
            </div>
            <button type="submit">{% trans "Submit" %}</button>
          </form>
        </div>
      </div>
  
      <div class="ct1 has-text-white">
        <h1 class="title is-2 has-text-white">{% trans "Contact Us" %}</h1>
        <p class="mb-5">{% trans "Not sure what you need? The team at Square Events will be happy to listen to you and suggest event ideas you haven't considered." %}</p>
        <ul>
          <li><i class="fa-solid fa-envelope"></i>yourmindca@gmail.com</li>
          <li><i class="fa-solid fa-phone my-3"></i>+61 447 686 640</li>
          <li><i class="fa-solid fa-location-dot"></i> {% trans "Sydney Office: 69 Macquarie St, Sydney, Australia" %}</li>
        </ul>
        <div class="columns pt-5 title is-4">
          <a target="_blank" href="https://www.instagram.com/yourmindca?igsh=bzh0ZDJiczJyOXE2&utm_source=qr"><i class="fa-brands fa-instagram mx-5 has-text-white"></i></a>
          <a target="_blank" href="https://t.me/youandyourmindca"><i class="fa-brands fa-telegram mx-3 has-text-white"></i></a>
          <a target="_blank" href=""><i class="fa-brands fa-linkedin mx-3 has-text-white"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCNroFfgqX13q3ltsC9j08Sw"><i class="fa-brands fa-youtube mx-5 has-text-white"></i></a>
        </div>
      </div>
    </div>
</section>
  

<script src="../../static/js/script.js"></script>
<script src="../../static/js/script2.js"></script>
{% endblock %}

</body>
</html>
