<!DOCTYPE html>
{% extends 'mind/nav_foot.html' %}
{% load static i18n %}
{% load static i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Newsletter" %}</title>
</head>

<body>

    {% block content %}  

    <div class="newsletter-container">
        <header class="newsletter-header">
            <div class="newsletter-title">
                Mental Health Awareness: Breaking the Silence
            </div>
            <div class="newsletter-overview">
                <!-- Backend will inject this content -->
            </div>
        </header>
    
        <section class="newsletter-section" id="understanding-mental-health">
            <div class="newsletter-content">
                <!-- Backend will inject this content -->
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fugit at iure nam harum id sapiente sint quos nulla. Nihil sed quis ut excepturi quas libero consequuntur reprehenderit eligendi!</p>

            </div>
            <img src="https://unsplash.com/photos/understanding-mental-health.jpg" alt="Understanding Mental Health">
        </section>
    
        <section class="newsletter-section" id="recognizing-signs">
            <img src="https://unsplash.com/photos/recognizing-signs.jpg" alt="Recognizing the Signs">
            <div class="newsletter-content">
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fugit at iure nam harum id sapiente sint quos nulla. Nihil sed quis ut excepturi quas libero consequuntur reprehenderit eligendi!</p>
            </div>
        </section>
    
        <section class="newsletter-section" id="open-conversations">
            <div class="newsletter-content">
                <!-- Backend will inject this content -->
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fugit at iure nam harum id sapiente sint quos nulla. Nihil sed quis ut excepturi quas libero consequuntur reprehenderit eligendi!</p>

            </div>
            <img src="https://unsplash.com/photos/open-conversations.jpg" alt="Open Conversations">
        </section>
    
        <section class="newsletter-section" id="resources-support">
            <img src="https://unsplash.com/photos/resources-support.jpg" alt="Resources for Support">
            <div class="newsletter-content">
                <!-- Backend will inject this content -->
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fugit at iure nam harum id sapiente sint quos nulla. Nihil sed quis ut excepturi quas libero consequuntur reprehenderit eligendi!</p>

            </div>
        </section>
    
        <section class="newsletter-section" id="self-care">
            <div class="newsletter-content">
                <!-- Backend will inject this content -->
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis fugit at iure nam harum id sapiente sint quos nulla. Nihil sed quis ut excepturi quas libero consequuntur reprehenderit eligendi!</p>

            </div>
            <img src="https://unsplash.com/photos/self-care.jpg" alt="Taking Care of Your Mental Health">
        </section>
    </div>
    
   
    {% endblock %}
</body>

</html>
