<!DOCTYPE html>
{% extends 'mind/nav_foot.html' %}
{% load static i18n %}
{% load static i18n %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Newsletter" %}</title>
</head>

<body>

    {% block content %}  

    {% for newsletterin in newsletter_detail %}
    {% if forloop.counter0|divisibleby:2 %}
        <!-- Text on the left, Image on the right -->
        <section class="newsletter-section">
            <div class="newsletter-content">
                <p>{{ newsletterin.subtitle1|safe }}</p>
            </div>
            {% if newsletterin.img1 %}
            <img src="{{ newsletterin.img1.url }}" alt="{{ "no image" }}">
            {% else %}
            <p>No image available.</p>
            {% endif %}
        </section>
    {% else %}
        <!-- Image on the left, Text on the right -->
        <section class="newsletter-section">
            {% if newsletterin.img1 %}
                <img src="{{ newsletterin.img1.url }}" alt="{{ newsletterin.subtitle1 }}">
            {% else %}
                <p>No image available.</p>
            {% endif %}
            <div class="newsletter-content">
                <p>{{ newsletterin.subtitle1|safe }}</p>
            </div>
        </section>
    {% endif %}
    {% endfor %}


   
    {% endblock %}

</body>

</html>
