<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Document" %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media='screen'>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" type="text/css" media='screen'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="{% static 'img/logo3.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Your Mind" %}{% endblock %}</title>
    <meta property="og:title" content="YourMind">
    <meta property="og:description" content="YourMind - Mental Health and Wellbeing">
    <meta property="og:url" content="https://yourmindca.com/en/">
    <meta property="og:type" content="website">
</head>
<body>
    {% csrf_token %}

    <div class="navv">
        <nav class="navbar container navv" role="navigation" aria-label="main navigation" id="home">
          <div class="navbar-brand pr-6 navv">
            <figure class="image is-64x64">
              <img src="{% static 'img/logo3.png' %}" alt="Logo">
            </figure>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu navv">
            <div class="navbar-start ml-6">
              <a href="{% url 'home' %}" class="navbar-item mx-6">
                 {% trans "Home" %}
              </a>
              <a href="#aboutus" class="navbar-item mx-6">
                {% trans "About Us" %}
              </a>
              <a href="{% url 'shop' %}" class="navbar-item mx-6">
                {% trans "Shop" %}
              </a>
              <!-- Media Dropdown -->
              <div class="navbar-item has-dropdown is-hoverable mx-6">
                <a class="navbar-link">
                  {% trans "Media" %}
                </a>
                <div class="navbar-dropdown">
                  <a href="{% url 'articlepage' %}" class="navbar-item">
                    {% trans "Articles & Podcasts" %}
                  </a>
                  <a href="{% url 'team' %}" class="navbar-item">
                    {% trans "Our Team" %}
                  </a>
                  <a href="{% url 'howwework' %}" class="navbar-item">
                    {% trans "How We Work" %}
                  </a>
                </div>
              </div>
            
            </div>
            

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  {% if user.is_authenticated %}
                  <span class="navbar-item subtitle is-7">
                    {% trans "Welcome, " %} {{ user.username }}!
                  </span>
                  <a href="{% url 'logout' %}" class="button is-info">
                    {% trans "Log out" %}
                  </a>
                  {% else %}
                  <a href="{% url 'register' %}" class="button is-info">
                    {% trans "Sign up" %}
                  </a>
                  {% endif %}
                </div>
              </div>
              <div class="navbar-item">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>{% trans "Language" %}</span>
                      <span class="icon is-small">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}" />
                        <button type="submit" name="language" value="en" class="dropdown-item">English</button>
                        <button type="submit" name="language" value="fr" class="dropdown-item">Français</button>
                        <button type="submit" name="language" value="ru" class="dropdown-item">Русский</button>
                    </form>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
    </div>     

    {% block content %}{% endblock %}

    <footer class="footer1">
        <div class="footer-container">
            <div class="footer-left">
                <img src="{% static 'img/logo2.png' %}" alt="NAMI Logo" class="logo">
                <p>{% trans "National Alliance on Mental Illness" %}</p>
                <div class="social-icons">
                  <a target="_blank" href="https://www.instagram.com/yourmindca?igsh=bzh0ZDJiczJyOXE2&utm_source=qr"><i class="fa-brands fa-instagram mx-5 has-text-white"></i></a>
                  <a target="_blank" href="https://t.me/youandyourmindca"><i class="fa-brands fa-telegram mx-3 has-text-white"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/company/yourmindca/"><i class="fa-brands fa-linkedin mx-3 has-text-white"></i></a>
                  <a target="_blank" href="https://www.youtube.com/channel/UCNroFfgqX13q3ltsC9j08Sw"><i class="fa-brands fa-youtube mx-5 has-text-white"></i></a>
                </div>
                <p>Copyright &copy; 2024 NAMI. All rights reserved.</p>
            </div>
            <div class="footer-right">
                <div class="footer-column">
                    <p class="footer-heading">{% trans "Address" %}</p>
                    <p>{% trans "Sydney Office: 69 Macquire st, Sydney, Australia" %}</p>
                    <br>
                    <p>{% trans "Phone: 703-524-7600" %}</p>
                    <br>
                    <p>{% trans "Email Services: yourmind@gmail.com" %}</p>
                </div>
                <div class="footer-column">
                    <p class="footer-heading">{% trans "Quick Links" %}</p>
                    <a href="#">{% trans "Press & Media" %}</a>
                    <a href="#">{% trans "How We Work" %}</a>
                    <a href="#">{% trans "Find Element" %}</a>
                </div>
                <div class="footer-column">
                    <p class="footer-heading">{% trans "Policies" %}</p>
                    <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a>
                    <a href="{% url 'disclaimer' %}">{% trans "Disclaimer" %}</a>
                    <a href="{% url 'statedc' %}">{% trans "State Disclaimer" %}</a>
                    <a href="{% url 'linkpolicy' %}">{% trans "Link Policy" %}</a>
                    <a href="{% url 'yyrequired' %}">{% trans "YOURMIND Required Disclosures For Written Solicitations" %}</a>
                    <a href="{% url 'yystore' %}">{% trans "YOURMIND Store Policies" %}</a>
                </div>
            </div>
        </div>
    </footer>
  
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script2.js' %}"></script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "url": "https://yourmindca.com",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://yourmindca.com/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
      </script>
      
</body>
</html>
