<!DOCTYPE html>
{% extends 'mind/nav_foot.html' %}
{% load static i18n %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "relatedArticles" %}</title>
</head>

<body>
  {% block content %}
  <div class="columns mt-4 column4">
      {% for item in articles %}
      <div class="column is-3">
       <a href="{% url 'articles' item.slug %}">
          <div class="card">
              <div class="card-image">
                  {% if item.img %}
                  <figure class="image is-4by3">
                      <img src="{{ item.img.url }}" alt="Image for {{ item.title }}">
                  </figure>
                  {% else %}
                   <p>No image available.</p>
                  {% endif %}
              </div>
              <div class="card-content">
                  <div class="media">
                      <div class="media-content">
                          <p class="title is-4">{{ item.title_article|safe }}</p>
                      </div>
                  </div>
                  <div class="content">
                      {{ item.subtitle|truncatewords:15|safe }}  <!-- Example of showing a short description -->
                      <p>Read more</p>
                  </div>
              </div>
          </div>
        </a>
      </div>

      {% endfor %}
  </div>
  {% endblock %}
  
</body>

</html>
                  