<!DOCTYPE html>
{% extends 'mind/nav_foot.html' %}
{% load static %}
{% load static i18n %}
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "relatedArticles" %}</title>
</head>

<body>

    {% block content %}  
        <div class="columns">
          {% for item in articles1 %}
          <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="{{ item.img.url}}"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{item.title}}</p>
                  <p class="subtitle is-6"></p>
                </div>
              </div>
          
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
          </div>
          {% endfor %}

        </div>
            
       {% endblock %}
</body>

</html>
